* {
    padding: 0;
    margin: 0;
}

html,
body{
    height: 100%;
}

/* TOPO */

#topo{
    display: flex;
    background-color: blue;
    padding: 20px;
}

#topo > img{
    flex-grow: 1;
}

#topo > select{
    margin-right: 20px;
    flex-grow: 3;
}