<!-- inicio de um card -->
<div class="card">
  <div class="card-titulo">
    <label for="titulo">Titulo Tarefa</label> <br />
    <input id="titulo" type="text" value="Comprar Doces" />
  </div>

  <div class="card-idPri">
    <div>
      <label for="idtarefa">ID:</label> <br />
      <input id="idtarefa" type="text" value="0001" disabled />
    </div>
    <div>
      <label for="prioridade">prioridade</label> <br />
      <select name="prioridade" id="prioridade">
        <option value="normal">normal</option>
        <option value="baixa">baixa</option>
        <option value="alta">alta</option>
      </select>
    </div>
  </div>

  <div class="card-executantes">
    <div>
      <label for="abertoPor">Aberto por: </label>
      <input
        id="abertoPor"
        name="abertoPor"
        type="text"
        value="José da Dores"
        disabled
      />
    </div>

    <div>
      <label for="responsavel">Responsavel</label>
      <select name="responsavel" id="responsavel">
        <option value="001">José Manfred</option>
        <option value="002">Alfredo Cancela</option>
        <option value="003">Janete Gorete</option>
      </select>
    </div>
  </div>
  <div>
    <label for="status">Status</label>
    <select name="status" id="status">
      <option value="aberto">Não iniciada</option>
      <option value="aberto">Em andamento</option>
      <option value="fechado">Fechado</option>
    </select>
  </div>
</div>
<!-- final de um card -->
