<header id="topo">
        <img src="" alt="logo">
        <div>
            <select name="menu" id="menu" >
                <option value="kanban">Kanban</option>
                <option value="novoUsuario">Novo Usuario</option>
                <option value="novaTarefa">Nova Tarefa</option>
            </select>
        </div>

    </header>