/* Inicio do css Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	 background-color: #e0d5d9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Final do css Reset */

/* Adicione a partir daqui eu CSS */

/*------------------------------------------------------------------------------------------------------------------------*/
/* INICIO DO CSS CUSTOMIZADO                                                                                              */
/*------------------------------------------------------------------------------------------------------------------------*/


/* Formatacao de titulos */


.titulo1 {
    margin: 20px;
    font-weight: bold;
    font-size: 43px;
}

/* Formatacao de botoes */

.botao1{
	margin-left: 20px;
	margin-bottom: 30px;
	font-weight: bold;
	margin-top: 30px;
	padding: 10px;
	border-radius: 10px;
	background-color: blue;
	color: white;
	text-decoration: none;
}

.btn_alterar {
	background-color: blue;
    padding: 6px;
    border-radius: 10px;
    color: white;
    font-size: 1vh;
}

.btn_exluir {
    background-color: red;
    padding: 6px;
    border-radius: 10px;
    color: white;
    font-size: 1vh;
}

/* Formatacao do main */

main {
	padding: 10px;
}

/* Formatacao do menu */
nav{
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 3px;
	width: 100%;
	height: 7vh;
	background-color: rgb(61, 61, 170);
	
}

nav > div.logo  img {
  height: 50px;
  margin: 1vh;
  width: auto; 
}

nav > div.opcoes {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

nav > div.opcoes > ul {
    display: flex;	
	color: white;
}

nav > div.opcoes > ul > li {
	font-size: 23px;
	margin: 5px 10px;
}

nav > div.opcoes > ul > li >  a{
	color: white;
	text-decoration: none;
}


nav > div.opcoes > ul > li :hover {
	text-decoration: underline;
}

/* Formatacao da tabela */

table {
	font-size: 23px;
	margin: 20px;
}

table th{
	text-transform: uppercase;
	font-weight: bold;
}


th, td {
	border: 1px solid;
	padding: 6px;
}

/* Formatacao do formulario */

div.formEntrada {
	margin: 10px 20px;
}

input.formBotao{
	margin: 10px 20px;
}

.formEntrada > label {
	font-weight: bold;
}



/* Formatacao do Rodape */

footer {
	height: 2vh;
	background-color: rgb(61, 61, 170);
	color: white;
	height: 7vh;
	font-size: 23px;
}


/*------------------------------------------------------------------------------------------------------------------------*/
/* FINAL DO CSS CUSTOMIZADO                                                                                              */
/*------------------------------------------------------------------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: #e0d5d9;
}

body {
    display: flex;
    flex-direction: column;
}

/* CSS para o topo */

#topo {
    display: flex;
    background-color: #dbb4ad;
    padding: 20px;
    border: 1px solid black;
    margin: 3px 5px;
    border-radius: 3px;
}

#menu {
    font-size: 3vh;
}

img {
    flex-grow: 1;
}

select {
    margin-right: 20px;
    flex-grow: 3;
}

/* CSS para quadro kanban */

main {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

#backlog>h1,
#andamento>h1,
#concluidas>h1 {
    font-size: 3vh;
    text-align: center;
    padding: 5px;
    color: #3a2d32;
    font-weight: bold;
    text-transform: uppercase;
}

#backlog {
    flex-grow: 1;
    background-color: rgb(228, 201, 201);
    display: flex;
    flex-direction: column;
    width: 33%;
    border: 1px solid black;
    margin: 3px 5px;
    border-radius: 3px;
}

#andamento {
    flex-grow: 1;
    background-color: rgb(228, 201, 201);
    width: 33%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 3px 5px;
    border-radius: 3px;
}

#concluidas {
    flex-grow: 1;
    background-color: rgb(228, 201, 201);
    width: 33%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 3px 5px;
    border-radius: 3px;
}

/* CSS para os cards */
.baia-tarefas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #c2ccb4;
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 5px;
}

.card-idPri {
    display: flex;
    flex-direction: row;
    padding: 3px 0px;
}

.card-idPri> :first-child {
    flex-grow: 1;
    padding: 3px;
}

.card-idPri> :nth-child(2) {
    flex-grow: 1;
    padding: 3px;
}

.card-executantes {
    display: flex;
    flex-direction: column;
}

.card-executantes> :first-child {
    flex-grow: 1;
    padding: 3px;
}

.card-executantes> :nth-child(2) {
    flex-grow: 1;
    padding: 3px;
}